<div class="back-box">
  <h1 class="truck-show-title"><%= @truck.name %></h1>
  <ul class="truck-info">
    <div class="content">
      <% if !@truck.appointments.empty? %>
        <ul>
        <% @truck.appointments.each do |appointment| %>
            <%= appointment.timeslot.day %>
            <%= appointment.timeslot.time %>: </br>
            <%= appointment.location.address %> </br></br>
          <% end %>
        </ul>
      <% end %>

      <% truck_count = 0 %>
      <% current_user.favorite_trucks.each do |fav_truck| %>
        <% if fav_truck.truck.id == @truck.id %>
          <% truck_count +=1 %>
        <% end %>
      <% end %>
      <% if truck_count == 0 %>
          <span class="prompt"><%= link_to "Make favorite", favorite_trucks_path(truck: @truck), :method => :post, class: "fat-links" %></span>
      <% else %>
          <span class="prompt"><%= link_to "Remove from favorites", favorite_truck_path(truck: @truck, user: current_user), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "fat-links" %></span>
      <% end %>
    </div>
  </ul>
</div>
