<h1 class="title">Your Trucks Today</h1>
<div id="map"></div>
<script>
  function initMap() {
    let boston = {lat: 42.354506, lng: -71.068887};
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: boston
    });

    let coords = <%= @coordinates.html_safe %>

    for(let i = 0; i < coords.length; i++) {
      let latLng = new google.maps.LatLng(coords[i].lat, coords[i].long)
      let marker = new google.maps.Marker({
        position: latLng,
        map: map
      })
      let message = `${coords[i].name}: ${coords[i].meal}`;
      function addInfoWindow(marker, message) {
        let infoWindow = new google.maps.InfoWindow({
            content: `<a href='/trucks/${coords[i].id}'><div class="map-location">${message}</div></a>`
        });
        google.maps.event.addListener(marker, 'mouseover', function () {
            infoWindow.open(map, marker);
        });
      }
      marker.addListener('onload', addInfoWindow(marker, message));
    }
  }

  function loadScript() {
    let apiKey = '<%= @api_key.html_safe %>'
    let script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`
    document.body.appendChild(script);
  }

  window.onload = loadScript;
</script>

<div class="favorite-trucks-container">
    <% if current_user.trucks.empty? %>
      <%= link_to "Pick a favorite truck!", trucks_path, class: "fat-links" %>
    <% else %>
      <% today = Date.today.strftime("%A") %>
      <% current_user.trucks.sort do |truck1, truck2| %>
        <% truck2.appointments.for_day_of_week(today).length <=> truck1.appointments.for_day_of_week(today).length %>
      <% end.each do |truck| %>
        <% appointments = truck.appointments.for_day_of_week(today) %>
        <%= link_to truck.name, truck_path(truck), class: "truck-title" %></br>
        <% if appointments.empty? %>
          <div>No food today!</div> </br>
        <% else %>
          <% appointments.each do |appointment| %>
            <%= appointment.timeslot.day %>
            <%= appointment.timeslot.time %>: </br>
            <%= appointment.location.address %> </br></br>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>
<%= link_to "Back", :back, class: "fat-links" %></div>
