<h1 class="title">Your Trucks Today</h1>
<html>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        let boston = {lat: 42.354506, lng: -71.068887};
        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: boston
        });

        let coords = <%= @coordinates.html_safe %>

        for(let i = 0; i < coords.length; i++) {
          let latLng = new google.maps.LatLng(coords[i].lat, coords[i].long)
          let marker = new google.maps.Marker({
            position: latLng,
            map: map
          })
          let message = `${coords[i].name}: ${coords[i].meal}`;
          function addInfoWindow(marker, message) {
            let infoWindow = new google.maps.InfoWindow({
                content: `<a href='/trucks/${coords[i].id}'><div class="map-location">${message}</div></a>`
            });
            google.maps.event.addListener(marker, 'click', function () {
                infoWindow.open(map, marker);
            });
          }
          marker.addListener('click', addInfoWindow(marker, message));
        }
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9E_4wksM2ecTs-lrzsOqkIH_xys49N_8&callback=initMap">
    </script>
  </body>
</html>

<div class="menu">
    <% if !(current_user.favorite_trucks.nil?) %>
      <% current_user.favorite_trucks.each do |fav_truck| %>
        <% if fav_truck.user == current_user %>
        <%= link_to fav_truck.truck.name, truck_path(fav_truck.truck), class: "truck-title" %></br>
          <% meal_count = 0 %>
          <% fav_truck.truck.appointments.each do |appointment| %>
            <% if appointment.timeslot.day == Date.today.strftime("%A") %>
              <%= appointment.timeslot.day %>
              <%= appointment.timeslot.time %>: </br>
              <%= appointment.location.address %> </br></br>
              <% meal_count +=1 %>
            <% end %>
          <% end %>
          <% if meal_count == 0 %>
            <div>No food today!</div> </br>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>
