<div class="back-box">
  <h1 class="truck-show-title"><%= @truck.truck.name %></h1>
  <ul class="truck-info">
    <div class="content">
      <% if !@truck.truck.appointments.empty? %>
        <ul>
        <% @truck.truck.appointments.each do |appointment| %>
            <%= appointment.timeslot.day %>
            <%= appointment.timeslot.time %>: </br>
            <%= appointment.location.address %> </br></br>
          <% end %>
        </ul>
      <% end %>
        <span class="prompt"><%= link_to "Remove from favorites", favorite_truck_path(@truck), data: {:confirm => 'Are you sure?'}, :method => :delete %></span>
    </div>
  </ul>
</div>
