<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <a href="/"><li class="menu-text">SnackTracka</li></a>
          <li>
            <a href="#">Select a...</a>
            <ul class="menu vertical">
              <li><a href="/trucks">Truck</a></li>
              <li><a href="/locations">Location</a></li>
              <li><a href="/timeslots">Timeslot</a></li>
            </ul>
          </li>
          <li><a href="#">Advanced Search</a></li>
          <li><a href="#">Your faves</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <a href=edit_user_registration_path(current_user)><li><button type="button" class="button">Your account...</button></li></a>
        </ul>
      </div>
    </div>
    <%= yield %>

  </body>
</html>
