<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SnackTracker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <a href="/"><li class="menu-text">SnackTracker</li></a>
          <li>
            <a href="#">Select a...</a>
            <ul class="menu vertical">
              <li><a href="/trucks">Truck</a></li>
              <li><a href="/locations">Location</a></li>
              <li><a href="/timeslots">Timeslot</a></li>
            </ul>
          </li>
          <li><%= link_to "Advanced Search", trucks_path %></li>
          <li><%= link_to "Your faves", edit_user_registration_path %></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <% if !user_signed_in? %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% else %>
            <li><%= link_to "Your account...", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>

  </body>
</html>
