<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Sansita|Bitter|Bree+Serif|Pacifico|Rokkitt" rel="stylesheet">
    <title><%= content_for?(:title) ? yield(:title) : "SnackTracker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul>
          <a href="/"><div class="main-text">SnackTracker</div></a>
          <div class="sub-menu">Boston's Food Truck Resource</div>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
            <li><%= link_to "All Trucks", trucks_path %></li>
            <li><%= link_to "Find Trucks", appointments_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Your trucks", favorite_trucks_path %></li>
            <li><%= link_to "Your account", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>

  </body>
</html>
